.imageContainer Image {
  transition: all 0.3s ease;
}

.imageContainer Image.hovered {
  animation: colorChange 2s infinite;
}

@keyframes colorChange {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
