#home{
	overflow: hidden;
	/* padding-top: 179px; */
	/* padding-bottom: 150px; */
}



.fn_cs_slider{
	padding: 0 20px;
	overflow: hidden;
}
.fn_cs_slider .hidden_list{
	display: none;
}
.slider_nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-bottom: 0px;
}
.slider_nav > *{
	margin-right: 100px;
}
.slider_nav > *:last-child{
	margin-right: 0;
}
.slider_nav:after{
	content: '';
	position: absolute;
	width: 40px;
	height: 1px;
	background-color: rgba(255,255,255,.5);
	left: 50%;
	margin-left: -20px;
	top: 50%;
	margin-top: -1px;
	margin-top: -0.5px;
}
.slider_nav a{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding: 10px 0;
}
.slider_nav a > *{
	margin-right: 10px;
}
.slider_nav a > *:last-child{
	margin-right: 0;
}
.slider_nav .circle{
	width: 12px;
	height: 12px;
	display: block;
	border: 2px solid rgba(255,255,255,.5);
	position: relative;
	border-radius: 100%;
	background-color: rgba(255,255,255,.05);
}
.slider_nav .icon{
	width: 34px;
	height: 34px;
	display: block;
	border: 2px solid rgba(255,255,255,.5);
	position: relative;
	border-radius: 100%;
	background-color: rgba(255,255,255,.05);
}
.slider_nav .fn__svg{
	display: block;
	position: absolute;
	width: 12px;
	height: 12px;
	color: rgba(255,255,255,.5);
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
}
.slider_nav .prev .fn__svg{
	/* transform: rotate(90deg); */
	/* margin-left: -8px; */
}
.slider_nav .next .fn__svg{
	/* transform: rotate(-90deg); */
	/* margin-left: -5px; */
}
.slider_nav .icon:after{
	content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
	top: 0;
	left: 0;
    color: var(--mc1);
    opacity: .15;
    border-radius: 100%;
    box-shadow: 0px 5px 20px;
	transition: all .3s ease;
}
.slider_nav a:hover .icon:after{
	opacity: .5;
}
.fn_cs_slider .slider_top > img{
	width: 33.3333% !important;
	min-width: 33.3333%  !important;
	opacity: 0;
}
.fn_cs_slider .slider_top{
	padding: 250px 0 60px;
	position: relative;
}
.fn_cs_slider .slider_top ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.fn_cs_slider .slider_top li{
	width: 63.3333%;
	position: absolute;
	margin: 0;
	transform: translateX(100%) scale(0);
	transition: all 0s ease;
	opacity: 0;
	top: 65px;
/*	visibility: hidden;*/
}
.fn_cs_slider .slider_top li.next2{
	left: 100%;
	transform: translateX(100%) scale(0);
	transition: all 1s ease;
}
.fn_cs_slider .slider_top li.prev2{
	left: 0;
	transform: translateX(-100%) scale(0);
	transition: all 1s ease;
}
.fn_cs_slider .slider_top li.prev,
.fn_cs_slider .slider_top li.next,
.fn_cs_slider .slider_top li.active{
	transform: translateX(0) scale(1);
	opacity: 1;
	transition: all 1s ease;
}
.fn_cs_slider .slider_top li.prev,
.fn_cs_slider .slider_top li.next{
	cursor: pointer;
}
.fn_cs_slider .slider_top li.prev{
	left: -325px;
}
.fn_cs_slider .slider_top li.next{
	left: 80.6666%;
	margin-left: 40px;
}
.fn_cs_slider .slider_top img{
	min-width: 100%;
	opacity: 0;
}
.fn_cs_slider .slider_top .item{
	perspective: 1000px;
    perspective-origin: 50% 50%;
}
.fn_cs_slider .slider_top .item_in{
	padding: 2px;
	border: 1px solid rgba(195, 34, 34, 0.5);
	background-color: rgba(110, 83, 83, 0.05);
	transition: all 1s ease;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: scaleX(0.85) scaleY(0.85) rotateY(180deg);
}
.fn_cs_slider .metaportal_fn_videobutton{
	opacity: 0;
	visibility: hidden;
}
.fn_cs_slider .active .metaportal_fn_videobutton{
	opacity: 1;
	visibility: visible;
}
.fn_cs_slider .slider_top .img{
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
}
.fn_cs_slider .slider_top .img:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all .3s ease;
}
.fn_cs_slider .slider_top .active .has_video .img:after{
	background-color: rgba(0,0,0,0.3);
}
.fn_cs_slider .slider_top .item_in:after{
	content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
	top: 0;
	left: 0;
    color: var(--mc1);
    opacity: .15;
    border-radius: 20px;
    box-shadow: 0px 5px 20px;
}
.fn_cs_slider .slider_top .item_in:before{
	height: 15px;
	width: 60%;
	content: '';
	position: absolute;
	top: 100%;
	margin-top: 30px;
	background-color: #000;
	border-radius: 100%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-filter: blur(15px);
	-o-filter: blur(15px);
	filter: blur(15px);
}
.fn_cs_slider .slider_top .active .item_in{
	transform: scaleX(1) scaleY(1) rotateY(0deg);
}
.fn_cs_slider .slider_top .prev2 .item_in,
.fn_cs_slider .slider_top .prev .item_in{
	transform: scaleX(1.05) scaleY(0.85) rotateY(-30deg);
}
.fn_cs_slider .slider_top .next2 .item_in,
.fn_cs_slider .slider_top .next .item_in{
	transform: scaleX(1.05) scaleY(0.85) rotateY(30deg);
}
.fn_cs_slider .slider_top .img{
	border-radius: 20px;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.fn_cs_slider .slider_top li.active{
	left: 18.3333%;
}
/* Since v3.0*/
@media(max-width: 768px){
	.fn_cs_slider[data-responsive="on"] .slider_top li{
		width: 100%;
	}
	.fn_cs_slider[data-responsive="on"] .slider_top > img{
		width: 100% !important;
		min-width: 100% !important;
	}
	.fn_cs_slider[data-responsive="on"] .slider_top li.active{
		left: 0;
	}
	.fn_cs_slider[data-responsive="on"] .slider_top li.prev{
		left: -100%;
		margin-left: -100px;
	}
	.fn_cs_slider[data-responsive="on"] .slider_top li.next{
		left: 100%;
		margin-left: 100px;
	}
}



.fn_cs_desc{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}
.fn_cs_desc p{
	margin: 0;
	font-size: 24px;
	line-height: 34px;
	margin-bottom: 41px;
}